<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd">
<wicket:panel>

<div class="devops-container">

    <div class="devops-item">
		<div class="title-container subtitle">
			<a wicket:id="more" href="#" class="unfold">
				<wicket:container wicket:id="linkLabel"></wicket:container>
			</a>
			<a wicket:id="detailsLink" href="#" class="valign-top">
				<wicket:container wicket:id="linkLabel"></wicket:container>
			</a>
		</div>
		<div>
			<div wicket:id="container" class="common-placement">
				<div wicket:id="infoPanel"></div>
				<div wicket:id="subItems">
					<div wicket:id="item">[PERCEPTION ITEM]</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

</wicket:panel>
</html>
