<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd">
<wicket:panel>

	<div>
		<div class="categories">
			<wicket:container wicket:id="categoriesTitle"></wicket:container>
			<div wicket:id="categoriesList">
				<a href="#" wicket:id="link"><wicket:container wicket:id="label"></wicket:container></a>
			</div>
		</div>
	
		<div wicket:id="containerList">
			<wicket:container wicket:id="itemListTitle" />
			<div class="table">
				<div wicket:id="list">
					<span wicket:id="item"></span>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>
