.title {
	font-size: 12pt;
}

div.title-container {
	background-color: #E6E8E3;
    border-radius: 3px 3px 3px 3px;
	margin-bottom: 3px;
	padding: 2px;
}

/* LOGOS */
div#site-header {
	margin-left: 27px;
}

div#first-level-nav {
	margin-left: 75px;
}

div#langage-select {
	padding-left: 90px;
}

div#langage-select.login {
	padding-left: 15px;
}

div#application-logo {
	background: url("glasnost_images/glasnost_logo.png") no-repeat 0 0;
	z-index: 1;
	width: 100px;
	height: 100px;
	position: absolute;
	margin-top: -16px;
	margin-left: -35px;
}

/* DEVOPS ITEMS */
div.devops-item {
	margin: 5px 0 2px 20px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

/* TEASERS */
div.teaser-logo {
	background-image: url("glasnost_images/glasnost_logo_ext.png");
	width: 400px;
	height: 190px;
	background-position: 0 15px;
	background-repeat: no-repeat;
}

div.teaser-table {
	background-image: url("glasnost_images/teaser_table.png");
	background-position: -45px -60px;
	background-repeat: no-repeat;
	width: 200px;
	height: 150px;
}

div.teaser-graph {
	background-image: url("glasnost_images/teaser_graph.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
}

div.teaser {
	font-size: 9pt;
	padding: 0 5px;
	max-width: 550px;
}

div.teaser.small {
	font-size: 8pt;
	padding: 0 5px;
	max-width: 180px;
}

ul.teaser {
	margin-top: 20px;
}

ul.teaser li {
	font-size: 8pt;
}

div.text-info {
	font-size: 10pt;
	padding: 18px 2px 0;
	text-align: justify;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}