<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd">
<wicket:panel>

	<div>
		<form wicket:id="form">
			<div wicket:id="list">
				<a wicket:id="link"><wicket:container wicket:id="label"></wicket:container></a>
				<div wicket:id="container">
					<div wicket:id="list">
						<div class="cell">
							<input wicket:id="ID" />
						</div>
						<div class="cell">
							<input wicket:id="name" />
						</div>
						<div class="cell">
							<input wicket:id="color" />
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</wicket:panel>
</html>
