<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd">
<wicket:panel>

	<div>
		<div wicket:id="categories" class="categories">
		</div>
	
		<div wicket:id="specifyingList">
			<div wicket:id="itemListTitle"></div>
			<div class="table">
				<div wicket:id="subList">
					<div class="table-cell cell">
						<a href="#" wicket:id="subLink"><wicket:container wicket:id="subLabel"></wicket:container></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>
